---
layout: page
last_modified_at: "2019-05-12"
---

<div class="container">
    <div class="row page-header">
        <h1>Sponsors</h1>
        <p>I am truly grateful to all the wonderful humans and companies supporting the development of these roadmaps.
            Please <a class="text-dark font-weight-bold" href="mailto:kamranahmed.se@gmail.com">reach out</a> to us to
            sponsor our efforts in helping the community</p>
    </div>
</div>

<div class="raw-body">
    <div class="container mb-50">
        <div class="sponsor-page-blocks">
            {% include sponsor-blocks.html %}
        </div>
    </div>

    {% include subscribe.html %}
</div>


