<div class="footer">
    <div class="container">
        <div class="about-team">
            <h4>Made with <img class="with-love" src="{{ "/assets/img/simple_heart.svg" | prepend:site.url }}">️
                and sweat by</h4>
            <div class="team-items row">
                <a class="col-12 col-sm-12 col-lg-6 col-md-6" href="https://www.twitter.com/kamranahmedse"
                   target="_blank">
                    <img src="{{ "/assets/img/kamran.png" | prepend:site.url }}">
                    <div class="team-detail">
                        <h4>Kamran Ahmed</h4>
                        <p>@kamranahmedse</p>
                    </div>
                </a>
                <a class="col-12 col-sm-12 col-lg-6 col-md-6"
                   href="https://github.com/kamranahmedse/developer-roadmap" target="_blank">
                    <img src="{{ "/assets/img/heart.svg" | prepend:site.url }}" class="no-radius">
                    <div class="team-detail">
                        <h4>Contributors</h4>
                        <p>250+ awesome people</p>
                    </div>
                </a>
            </div>
        </div>

        <div class="footer-links">
            <p class="mb-0">
                <a href="https://github.com/kamranahmedse/developer-roadmap" target="_blank">
                    <i class="fa fa-github"></i> Github
                </a>
                <a href="https://twitter.com/kamranahmedse" target="_blank">
                    <i class="fa fa-twitter"></i> Twitter
                </a>
                <a href="https://github.com/kamranahmedse/developer-roadmap/issues/new" target="_blank">
                    <i class="fa fa-comment"></i> Suggestion
                </a>
                <a href="/sponsors"><i class="fa fa-gift"></i> Become a Sponsor</a>
                <a href="mailto:kamranahmedse.@gmail.com?subject=Contacting for Roadmap.sh"><i
                        class="fa fa-envelope"></i> Contact</a>
            </p>
        </div>
        <p class="copyright-claim"><i class="fa fa-copyright"></i> {{'now' | date: '%Y' }} {{ site.author }}. All
            rights reserved. Please <a href="mailto:kamranahmed.se@gmail.com">reach out</a> in case of any questions.</p>
    </div>
</div>
