<div class="sponsors-block-items">
    <a class="sponsor-item shadow-sm border" href="https://tajawal.ae/" target="_blank">
        <img src="/assets/img/sponsors/tajawal.jpg" alt="">
        <h3>tajawal</h3>
        <p>Book cheap flight tickets and hotels</p>
    </a>
    <!--<a class="sponsor-item shadow-sm border" href="https://hackr.io" target="_blank">-->
        <!--<img src="/assets/img/sponsors/hackrio.png" alt="" class="hackrio-spon">-->
        <!--<h3>hackr.io</h3>-->
        <!--<p>Find Programming Courses & Tutorials</p>-->
    <!--</a>-->
    <a class="sponsor-item shadow-sm border sponsor-us-block" href="mailto:kamranahmed.se@gmail.com">
        <i class="fa fa-plus-circle sponsor-us"></i>
        <h3>Support Us</h3>
        <p>Help us in our efforts to help community</p>
    </a>
</div>
