<div id="subscribe" class="sign-up-form shadow-sm border dark-bg">
    <div class="container">
        <div class="container-head">
            <h4>Email me the Updates</h4>
            <p class="col text-center">Get notified about the announcements, changes to the roadmaps, new roadmaps
                and resources</p>
        </div>
        <form action="https://kamranahmed.us9.list-manage.com/subscribe/post?u=6f57b741a6a939744f1f203a0&amp;id=f9ca4d6aee"
              target="_blank" class="form-inline" method="post">
            <input type="email" name="EMAIL" required class="form-control" placeholder="Email Address">
            <div style="position: absolute; left: -5000px;" aria-hidden="true">
                <input type="text" name="b_6f57b741a6a939744f1f203a0_f9ca4d6aee" tabindex="-1" value="">
            </div>
            <button value="Subscribe" name="subscribe" type="submit" class="btn btn-primary">Sign me Up</button>
        </form>
        <p class="footnote">There is no spam. Unsubscribe at time.</p>
    </div>
</div>
