---
---

body {
  background: #F0F1F5;
  min-height: 100vh;
  padding-top: 1px;
  color: #131313;
}

.text-muted {
  color: #848a9a !important;
}

.mb-50 {
  margin-bottom: 50px !important;
}

.btn-primary {
  background: #0747a6;
  border-color: #0747a6;
}