---
---
.container {
  max-width: 850px;
  margin: auto;
  padding: 1px 35px 0;
}

.page-wrap {
  display: block;
  min-height: 100vh;
  padding-top: 1px;
}

.page-header {
  text-align: center;
  display: block;
  margin-top: 65px;
  margin-bottom: 45px;
}

.page-header h1 {
  font-size: 50px;
  color: #131313;
  margin-bottom: 10px;
  font-weight: 700;
}

.page-header h1 img {
  height: 35px;
}

.page-header p {
  line-height: 1.75;
  font-size: 19px;
}

.roadmaps-list {
  margin-bottom: 40px;
}

.roadmap-block {
  text-align: center;
  padding: 15px;
  border-radius: 5px;
  display: block;
  background: #ffffff;
  text-decoration: none;
  color: #101010;
  -webkit-transition: transform .2s ease-in-out;
  -moz-transition: transform .2s ease-in-out;
  -ms-transition: transform .2s ease-in-out;
  -o-transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  margin-bottom: 15px;

  img {
    display: block;
    height: 54px;
    margin: auto auto 25px;
  }

  &:hover {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
    text-decoration: none;
    color: currentColor;
  }

  h3 {
    background: #ffa;
    padding: 2px 0;
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 10px;
  }

  p {
    font-size: 14px;
    margin-bottom: 0;
    line-height: 1.6;
  }
}

.feat-row {
  display: flex;
  align-items: center;
  padding: 30px 20px;
  border-radius: 10px;
  /*background: #ffffed;*/
}

.feat-row .feat-content {
  margin-left: 35px;
}

.feat-row .feat-content p {
  line-height: 1.75;
}

.feat-row .feat-content.feat-right {
  margin-left: 0;
  margin-right: 35px;
  text-align: right;
}

.feat-row img {
  height: 175px;
}

.feat-row .feat-content h2 {
  font-weight: 700;
}

.feat-row .feat-content p {
  margin-bottom: 0;
}

.feats-list {
  background: #f0f1f5;
  padding-bottom: 60px;
  padding-top: 60px;
}

hr {
  background: url("../img/separator.png") repeat-y;
  height: 5px;
  background-size: cover;
  border: none;
}

.footer {
  background: #131313;
  color: #ffffff;
  padding-bottom: 1px;
}

.about-team {
  margin: 60px auto 50px;
}

.about-team h4 {
  font-weight: 500;
  max-width: 100%;
  line-height: 1.6;
  font-size: 1.3em;
  text-align: center;
  margin-bottom: 20px;
}

.about-team .team-items {
  max-width: 600px;
  margin: 0 auto;
}

.about-team .team-items a {
  display: flex;
  align-items: center;
  padding: 15px 10px;
  margin: 0;
  text-decoration: none;
  width: 300px;
}

.about-team .team-items a img {
  width: 3em;
  border-radius: 3em;
  margin-right: 1em;
}

.team-detail h4 {
  margin-bottom: 0;
  color: white;
}

.team-detail p {
  font-size: 1em;
  color: #848a9a;
  margin-bottom: 0;
}

.team-detail {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  text-align: left;
}

.no-radius {
  border-radius: 0 !important;
}

.subscribe-box {
  text-align: center;
}

.subscribe-box p {
  margin-bottom: 1em;
  color: #848a9a;
}

.subscribe-box form {
  display: flex;
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
}

.subscribe-box input[type="email"] {
  flex: 1;
  margin-right: 10px;
  display: block;
  padding: 8px 15px;
  background: rgba(255, 255, 255, 0.1);
  -webkit-transition: background 200ms;
  -moz-transition: background 200ms;
  -ms-transition: background 200ms;
  -o-transition: background 200ms;
  transition: background 200ms;
  border-radius: 5px;
  border-color: #111111;
  color: white;
  font-size: 17px;
}

.subscribe-box input:focus {
  background: rgba(215, 230, 255, 0.2);
  border-color: #111111;
  outline: none;
  color: white;
  box-shadow: none;
}

.subscribe-box .btn-primary {
  width: 150px;
}

.footer-links {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 50px;
}

.footer-links a {
  display: inline-block;
  color: #848a9a;
  margin-left: 20px;
  font-size: 16px;
  text-decoration: none;
  -webkit-transition: color 200ms;
  -moz-transition: color 200ms;
  -ms-transition: color 200ms;
  -o-transition: color 200ms;
  transition: color 200ms;
  cursor: pointer;
  margin-bottom: 10px;
}

.footer-links a:hover {
  color: #fafafa;
}

.footer-links a .fa {
  margin-right: 5px;
}

.dark-bg {
  color: #797E88;
  background: #e8eaf1;
}

.sign-up-form {
  padding: 35px;
  margin: 0 auto;
}

.sign-up-form form {
  height: 40px;
  display: flex;
  align-items: stretch;
}

.sign-up-form input[type="email"] {
  flex: 1;
  margin-right: 10px;
  box-shadow: none;
  height: 100%;
  outline: none;
  border: 1px solid #e4e4e4;
  background: #fff;
}

.sign-up-form button {
  padding: 0 20px;
}

.sign-up-form .footnote {
  font-size: 14px;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 0;
}

img.with-love {
  position: relative;
  top: -2px;
  height: 20px;
  margin: 0 4px;
}

@media (max-width: 767px) {
  .feat-row {
    display: block !important;
    text-align: center !important;
    padding: 30px 20px 10px !important;
  }

  .feat-content {
    text-align: center !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .feat-row img {
    margin: 0 auto 20px !important;
  }

  .right-feat .top-img {
    display: block !important;
  }

  .right-feat .right-img {
    display: none !important;
  }
}

.sign-up-form .container {
  margin: 0 auto;
  display: block;
  max-width: 600px;
}

.container-head {
  text-align: center;
  max-width: 530px;
  margin: 0 auto;
}

.container-head h4 {
  text-align: center;
  color: #111111;
  display: block;
  margin-bottom: 14px;
  font-weight: 600;
}

.sponsors-list {
  padding: 35px 0;
}

.logos-list {
  margin: 30px 0 10px;
  cursor: pointer;
}

.logos-list img {
  border-radius: 100%;
  height: 80px;
  -webkit-transition: transform 200ms, opacity 300ms, filter 300ms;
  -moz-transition: transform 200ms, opacity 300ms, filter 300ms;
  -ms-transition: transform 200ms, opacity 300ms, filter 300ms;
  -o-transition: transform 200ms, opacity 300ms, filter 300ms;
  transition: transform 200ms, opacity 300ms, filter 300ms;
  margin-left: 10px;
  opacity: 0.5;
  filter: grayscale(90%);
}

.logos-list img:hover {
  opacity: 1;
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
  filter: none;
}

.be-sponsor {
  padding: 19px;
  border-radius: 100%;
  border: 1px dashed;
  opacity: 0.5;
}

a.navbar-brand {
  background: #101010;
  color: white;
  padding: 2px 10px;
  font-weight: 500;
}

.navbar {
  padding: 20px 0 10px;
}

.navbar .nav-links a {
  color: #797E88;
  display: inline-block;
  margin-left: 16px;
  font-size: 16px;
  -webkit-transition: color 300ms;
  -moz-transition: color 300ms;
  -ms-transition: color 300ms;
  -o-transition: color 300ms;
  transition: color 300ms;
}

.navbar .fa.fa-twitter {
  margin-left: 10px;
}

.navbar .fa {
  font-size: 22px;
  margin-left: 5px;
  position: relative;
  top: 2px;
}

.navbar .nav-links {
  display: flex;
  align-items: center;
}

.navbar .nav-links a:hover {
  text-decoration: none;
  color: #101010;
}

.copyright-claim {
  color: #6a7081;
  line-height: 1.75;
  margin-bottom: 60px;
  display: block;
  text-align: center;

  a {
    font-weight: 600;
    color: currentColor;
  }
}

.bold-link {
  font-weight: 700;
  text-decoration: none !important;
  color: #101010;
}

.not-found-content {
  margin: 100px auto 100px;

  img {
    height: 180px;
    display: block;
    margin: 30px auto 0;
  }
}

.roadmap-img img {
  max-width: 100%;
  display: block;
  margin: 0 auto 50px;
}

.page-footer-meta {
  text-align: center;
  line-height: 1.65;
  margin-bottom: 35px;
  color: #797e88;
  font-size: 14px;
}

.page-footer-alert {
  text-align: center;
  margin: 0 auto 70px;
  background: #ffa;
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  line-height: 25px;

  p {
    margin-bottom: 0;
  }
}

.roadmaps-list-meta {
  margin-top: -20px;
}

::selection {
  background: #ffd03e
}

.sponsors-block-items {
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  img {
    display: inline-block;
    height: 65px;
    margin-bottom: 20px;
    border-radius: 100%;
  }

  img + img {
    margin-left: 15px;
  }

  a.sponsor-item {
    width: 175px;
    margin-bottom: 20px;
    padding: 25px 15px;
    background: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    vertical-align: middle;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    -webkit-transition: transform 200ms, opacity 200ms;
    -moz-transition: transform 200ms, opacity 200ms;
    -ms-transition: transform 200ms, opacity 200ms;
    -o-transition: transform 200ms, opacity 200ms;
    transition: transform 200ms, opacity 200ms;

    h3 {
      font-size: 18px;
      font-weight: 500;
      color: #101010;
      margin-bottom: 8px;
    }

    p {
      color: #797E88;
      font-size: 14px;
      line-height: 23px;
      margin-bottom: 0;
    }

    &:hover {
      -webkit-transform: scale(1.05);
      -moz-transform: scale(1.05);
      -ms-transform: scale(1.05);
      -o-transform: scale(1.05);
      transform: scale(1.05);
    }
  }

  .sponsor-item + .sponsor-item {
    margin-left: 20px;
  }
}

img.hackrio-spon {
  margin-top: 5px;
  margin-bottom: 8px;
  position: relative;
  right: 9px;
  height: 80px;
}

.home-sponsor-blocks {
  margin: 35px 0 10px;
}

.sponsor-page-blocks {
  margin: -15px 0 15px;
}

.sponsor-us-block {
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }
}

.fa.sponsor-us {
  font-size: 60px;
  margin-bottom: 30px;
  position: relative;
  top: 15px;
  color: #dcdcdc;
}

@media (max-width: 441px) {
  .sponsors-block-items {
    flex-direction: column;

    a.sponsor-item {
      margin-left: 0 !important;
      margin-bottom: 10px;
      width: 100%;
    }
  }
}

.high-section {
  padding: 25px;
  background: white;
  border-radius: 5px;

  .section-head {
    text-align: center;

    h3 {
      font-weight: 700;
    }

    p {
      margin-bottom: 0;
    }
  }
}