---
layout: page
---

<div class="container">
    <div class="row page-header">
        <h1>{{ page.title }}</h1>
        <p>{{ page.excerpt }}</p>
    </div>
    <div class="roadmap-body">
        <div class="roadmap-img">
            <img src="{{ page.graphic}}"/>
        </div>
        {{ content }}
    </div>
    <div class="page-footer-alert">
        <p>We are working on extending this page with resources, exercises, sample projects and more details on how to follow. <a
                href="/#subscribe">Subscribe yourself</a> to get notified when it is ready.</p>
    </div>
</div>
